/* GERAL E LOGIN */

*{
  padding: 0%;
  margin:0%;
}


body {
    background-color: rgba(255, 255, 255);
    font-family: "Roboto", sans-serif;
}
 

#FUNDO{
  box-shadow: 0 4px 8px rgba(101, 102, 102, 0.555);
  background-color:#ffffff ;
}

#esquerda{
  margin-left: 0.5em;
}



.signup-box {

    width: 350px;
    height: 520px;
    margin: auto;
    background-color: #ccdadd;
    border-radius: 12px;
    position: relative;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
 
}
 
#casas{
  margin-bottom: 1em;
}
img {
    margin-bottom: 0.5em;
    display: block;
    margin: 0 auto;
}
 
h1 {
    text-align: center;
    padding-top: 15px;
    font-weight: 300;
}
 
h4 {
    text-align: center;
}
 
form {
    width: 300px;
    margin-left: 20px;
}
 
form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
 
form input {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 6px;
    outline: none;
}
 
.Link{
  width: 320px;
  height: 35px;
  margin-top: 10px;
  border: none;
  background-color: #6cbfc6;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 9px;
  padding: 9px;
  text-decoration: none;
  margin-left: 10px;
    
}
 
.Link:hover {
    background-color: #a1b5bd;
}
 
p {
    text-align: center;
    padding-top: 50px;
    font-size: 15px;
}

#botaoFoda{
  text-decoration: none;
}

.row{
  
  max-width: 100%;
  padding: 1em;
  
}

.card{
  margin-top: 2em;
}
#footer{
  margin-top: 0.5em;
  background-color: #74a2b4;
  min-width: 100%;

}
.text-bg-secondary{
  background-color: #74a2b4;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}

/* GERAL E LOGIN*/










/* CSS NAV BAR */

.menu {
  background-color: #74a2b4;
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
}
.menu ul {
  list-style: none; /* Oculta os marcadores */
}
.menu ul li{
  display: inline-block; /* Deixa os links na horizontal */
  justify-content: space-around;
}
.menu ul li a{
  
  margin-left: 0.5em;
  display: block;
  color: #fff;
  text-decoration: none; /* Retira o sublinhado do link */
  padding:10px 20px; /* Insere espaçamento interno na classe menu */
}
.menu ul li a:hover {
  background-color:#375561; /* Hover é quando passa o mouse  */
}
h3 {
  text-align: center;
}

.bi{
  font-size: 5em;
}

/* FIM DO CSS DA NAV */



/* CSS CONTEUDO*/

#iframe{
  border:0; width: 100%; height: 290px;
}
#redes{
  
  max-width: 100%;
  padding: 1em;
  
}


div.apartamentos{
  display: flex;


  
}
#BTNA{
  margin-left: 0.5em;
  background-color: rgba(189, 143, 238, 0.384);

}

div.polaroid {
  min-width: 40%;
  background-color: white;
  box-shadow: 0 4px 8px 0 #74a2b4, 0 6px 20px 0 #74a2b4;
  border-radius: 1em;

  margin: auto;
  padding: 2em;
  margin-top: 2em;
}


h1{
  color: #375561;
}















